*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 695px;
    background: gray;
}

.parrafo{
    width: 500px;
    background: beige;
    justify-content: center;
    align-items: center;
}