*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.menus{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}

.spanish, .english{
    background: gray;
    color: white;
    width: 100px;
    margin: 5px;
    padding: 10px;
}

.box:hover{
    text-decoration: underline;
    cursor: pointer;
}
